.container-fluid {
    background-color: rgb(149, 207, 195);
    background-image: content: ;;

    
}

.header {
    font-weight: bolder;
    font-family: sans-serif;
    font color: teal;
}



body {
    background-image: url("https://scontent-dfw5-2.xx.fbcdn.net/v/t31.0-8/1015622_10200920482167323_2034687355_o.jpg?_nc_cat=106&_nc_sid=19026a&_nc_ohc=mjaDsgL25wUAX8PckGr&_nc_ht=scontent-dfw5-2.xx&oh=3af42d7f96b5b51009deb8f0cbe1859a&oe=5EDDF535");
    background-size: cover;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 0%;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color: #acb5be;
    color: rgb(31, 27, 27);


}

#portHead {
color: teal;

}


#port1{
margin-right: 100px;


}

#port2 {
float: right;


}